<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="home.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AboutUs</title>
</head>
<body bgcolor="#DE1B1B" background="{{url_for('static', filename='road.jpg')}}">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#DFE2DB;">
	  <div class="container-fluid" style="background-color:#DFE2DB;">
	    <div class="navbar-header" style="background-color:#DFE2DB;">
	     
	    </div>
	    <ul class="nav navbar-nav" style="background-color:#DFE2DB;">
	     <li ><a href="{{url_for('home')}}">Home</a></li>
	    	<li><a href="{{url_for('math')}}">Math</a></li>
	    	<li><a href="{{url_for('physics')}}">Physics</a></li>
	      	<li><a href="{{url_for('english')}}">English</a></li>
	      	<li class="active"><a href="{{url_for('aboutus')}}">Aboutus</a></li>
	      	<li><a href="{{url_for('signup')}}">SignUp</a></li>
	    </ul>
	  </div>
	</nav>
<br><br><br><br><br><br><br><br><br><Br>
<h1 style="font-family: 'Supermercado One', cursive; ;color:white">Hello,im a highschool student 16years old and I diceded to create this page to help other students when it was hard for me to get helped with my bagrut exams and to get prepared so they can be more easy ways i choosed to create this page hope you like it :) </h1>
</body>
</html>