<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="math.js"></script>
<link rel="stylesheet" type="text/css" href="../static/math.css">.

<meta name="viewport" content="width=device-width, initial-scale=1">

<br><br><br><br><br><br><br>
	<title>Math</title>
</head>

<body class="mathc" bgcolor="#DE1B1B" background="{{url_for('static', filename='mathp.jpg')}}">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#DFE2DB;">
	  <div class="container-fluid" style="background-color:#DFE2DB;">
	    <div class="navbar-header" style="background-color:#DFE2DB;">
	     
	    </div>
	    <ul class="nav navbar-nav" style="background-color:#DFE2DB;">
	    <li ><a href="{{url_for('home')}}">Home</a></li>
	    	<li class="active"><a href="{{url_for('math')}}">Math</a></li>
	    	<li><a href="{{url_for('physics')}}">Physics</a></li>
	      	<li><a href="{{url_for('english')}}">English</a></li>
	      	<li><a href="{{url_for('aboutus')}}">Aboutus</a></li>
          <li><a href="{{url_for('signup')}}">SignUp</a></li>
           
	    </ul>
	  </div>
	</nav>
	<br><br><br>
 	<!-- <table align="right" style="color: white; margin-right:100px;">
  <tr>
    <th scope="col">Bagrut Exam</th>
    <th scope="col">Soluotion</th>
  </tr>
  <tr>
    <td>2016 exam</td>
    <td>2016 soluotion</td>
  </tr>
  <tr>
    <td>2015 exam</td>
    <td>2015 soluotion</td>
  </tr>
  <tr>
    <td>2014 exam</td>
    <td>2014 soluotion</td>
  </tr>
  <tr>
    <td>2013 exam</td>
    <td>2013 soluotion</td>
  </tr>
  <tr>
    <td>2012 exam</td>
    <td>2012 soluotion</td>
  </tr>
  <tr>
    <td>2011 exam</td>
    <td>2011 soluotion</td>
  </tr><tr>
    <td>2010 exam</td>
    <td>2010 soluotion</td>
  </tr>
</table> -->
<table align="right">
<tr>
	<th></th>
    <th>Bagrut Exams</th>
    
   	
</tr>
<tr>
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2016/6/ENG/35806.pdf">2016 Bagrut</a></td>
    <td>.</td>
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2015/8/ENG/35806.pdf">2015 Bagrut</a></td>
    

</tr>
<tr>
	
    <td>.</td>
    <td><a href="urlhttp://meyda.education.gov.il/sheeloney_bagrut/2013/6/ENG/35806.pdf">2013 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2012/8/ENG/35806.pdf">2012 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2011/8/ENG/35806.pdf">2011 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2010/6/ENG/35806.pdf">2010 Bagrut</a></td>
    
    
</tr>
</table>


	<iframe width="500" height="300" src="https://www.youtube.com/embed/52tpYl2tTqk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<br>
	<iframe width="500" height="300" src="https://www.youtube.com/embed/XUus6-9E9sQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<br>
	<iframe width="500" height="300" src="https://www.youtube.com/embed/bDPRWJdVzfs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</body>
</html>