<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="home.js"></script>
<link rel="stylesheet" type="text/css" href="../static/physics.css">.
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>physics</title>
</head>
<br><br><br><br><br><br><br>
<body class="physicsc" background="{{url_for('static', filename='physicsp.jpg')}}">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#DFE2DB;">
	  <div class="container-fluid" style="background-color:#DFE2DB;">
	    <div class="navbar-header" style="background-color:#DFE2DB;">
	     
	    </div>
	    <ul class="nav navbar-nav" style="background-color:#DFE2DB;">
	     <li ><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('math')}}">Math</a></li>
            <li class="active"><a href="{{url_for('physics')}}">Physics</a></li>
            <li><a href="{{url_for('english')}}">English</a></li>
            <li><a href="{{url_for('aboutus')}}">Aboutus</a></li>
            <li><a href="{{url_for('signup')}}">SignUp</a></li>
	    </ul>
	  </div>
	</nav>
	<br><br><br>
<table align="right">
<tr>
	<th></th>
    <th>Bagrut Exams</th>
    
   	
</tr>
<tr>
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2016/6/ENG/36002.pdf">2016 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2015/6/ENG/36001.pdf">2015 Bagrut</a></td>
    

</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2014/6/ENG/917554.pdf">2014 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2013/6/ENG/36002.pdf">2013 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2012/6/ENG/917521.pdf">2012 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2011/6/ENG/36101.pdf">2011 Bagrut</a></td>
    
    
</tr>
<tr>
	
    <td>.</td>
    <td><a href="http://meyda.education.gov.il/sheeloney_bagrut/2010/6/ENG/36101.pdf">2010 Bagrut</a></td>
    
    
</tr>
</table>

	<iframe width="500" height="300" src="https://www.youtube.com/embed/kKKM8Y-u7ds" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
   <iframe width="500" height="300" src="https://www.youtube.com/embed/TgH9KXEQ0YU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   <br>
   <iframe width="500" height="300" src="https://www.youtube.com/embed/TFlVWf8JX4A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>